In [266]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import matplotlib.ticker as ticker
from PIL import Image
from sklearn.cluster import AgglomerativeClustering, KMeans, DBSCAN
from sklearn.metrics import confusion_matrix
from scipy.spatial.distance import pdist
import warnings
warnings.filterwarnings('ignore')

# Q1

In [267]:
#讀取圖片資料並轉為dataframe
data_p = []
for i in range(1,41):
    for j in range(1,11):
        data_p.append(list(Image.open(f'C:/Users/USER/Desktop/Course/Data Analytics/DA05/ORL Faces/ORL Faces/{i}_{j}.png').getdata()))

data_p = pd.DataFrame(np.array(data_p))

#新增性別欄位，女性為0男性則為1
for i in data_p.index:
    if (i <= 9) | (70 <= i <= 79) | (90 <= i <= 99) | (310 <= i <= 319):
        data_p.loc[i, 'sex'] = 0
    else:
        data_p.loc[i, 'sex'] = 1
        
X = data_p.iloc[:,:-1]
y = data_p['sex']

Hierarchical clustering

In [271]:
HC = AgglomerativeClustering(n_clusters=2, linkage='ward')
HC.fit(X)
cm = confusion_matrix(y, HC.labels_)
cm = pd.DataFrame(cm, index=['Woman', 'Man'], columns=['Woman_pred', 'Man_pred'])
cm

       Woman_pred  Man_pred
Woman          19        21
Man           176       184

Kmeans

In [272]:
KM = KMeans(n_clusters=2, random_state=42)
KM.fit(X)
cm = confusion_matrix(y, KM.labels_)
cm = pd.DataFrame(cm, index=['Woman', 'Man'], columns=['Woman_pred', 'Man_pred'])
cm

       Woman_pred  Man_pred
Woman          30        10
Man           188       172

# Q2

In [273]:
data_a = pd.read_csv('C:/Users/USER/Desktop/Course/Data Analytics/DA07/auto-mpg.data.csv')
data_a = data_a[data_a['horsepower'] != '?']
data_a['horsepower'] = data_a['horsepower'].astype(float)

X = data_a.drop(columns=['origin', 'car name'])
y = data_a['origin']

Hierarchical clustering

In [274]:
HC = AgglomerativeClustering(n_clusters=3, linkage='ward')
HC.fit(X)
HC.labels_ = HC.labels_ + 1
cm = confusion_matrix(y, HC.labels_)
cm = pd.DataFrame(cm, index=['1', '2', '3'], columns=['1_pred', '2_pred', '3_pred'])
cm

   1_pred  2_pred  3_pred
1     129      88      28
2       3      27      38
3       0      26      53

Kmeans

In [275]:
KM = KMeans(n_clusters=3, random_state=42)
KM.fit(X)
KM.labels_ = KM.labels_ + 1
cm = confusion_matrix(y, KM.labels_)
cm = pd.DataFrame(cm, index=['1', '2', '3'], columns=['1_pred', '2_pred', '3_pred'])
cm

   1_pred  2_pred  3_pred
1      89      60      96
2       1      50      17
3       0      70       9

DBSCAN

In [276]:
DBS = DBSCAN(eps=100, min_samples=5)
DBS.fit(X)
DBS.labels_ = DBS.labels_ + 1
cm = confusion_matrix(y, DBS.labels_)
cm = pd.DataFrame(cm, index=['','1', '2', '3'], columns=['outliers', '1_pred', '2_pred', '3_pred'])
cm

   outliers  1_pred  2_pred  3_pred
          0       0       0       0
1         2     228      10       5
2         0      68       0       0
3         2      77       0       0